/* styles.css */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

.container {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

header h1 {
    text-align: center;
    color: #333;
}

section {
    margin: 20px 0;
}

h2 {
    color: #333;
}

#input-fields {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 10px;
}

.input-letter-container {
    text-align: center;
}

input {
    width: 40px;
    padding: 5px;
    font-size: 16px;
    text-align: center;
    margin-bottom: 5px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    font-size: 18px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #45a049;
}

#result-section {
    text-align: center;
}
